<div class="pageContent">
    <form method="post" th:action="@{/admin/user/{type}.do(type=${entity?.id <= 0 ? 'create' : 'update'})}" class="pageForm required-validate" onsubmit="return validateCallback(this, navTabAjaxDone);">
        <input type="hidden" name="id" th:value="${entity?.id}">
        <div class="pageFormContent" layoutH="56">
            <div class="unit">
                <label align="right"><font style="color:red">*</font>用户名：</label>
                <input type="text" name="username" th:value="${entity?.username}" class="required"/>
            </div>
        </div>
        <div class="formBar">
            <ul>
                <li>
                    <div class="buttonActive">
                        <div class="buttonContent">
                            <button type="submit">保存</button>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="button">
                        <div class="buttonContent">
                            <button type="button" class="close">取消</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </form>
</div>